#cconsent-bar,
#cconsent-bar * {
  box-sizing: border-box;
}

#cconsent-bar {
  background-color: var(--barColor);
  color: var(--barTextColor);
  padding: 15px;
  text-align: right;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
  transition-delay: 0.3s;
  display: flex;
}

#cconsent-bar.ccb--hidden {
  transform: translateY(100%);
}

#cconsent-bar .ccb__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1800px;
  margin: 0 auto;
  width: 100%;
}

#cconsent-bar .ccb__left {
  align-self: center;
  text-align: left;
  margin: 15px 0;
}

#cconsent-bar .ccb__right {
  align-self: center;
  white-space: nowrap;
}

#cconsent-bar .ccb__right > div {
  display: inline-block;
  color: #fff;
}

#cconsent-bar a {
  text-decoration: underline;
  color: var(--barTextColor);
}

#cconsent-bar button.consent-give {
  line-height: normal;
  font-size: 14px;
  border: none;
  padding: 10px 10px;
  color: var(--barMainButtonTextColor);
  background-color: var(--barMainButtonColor);
}

#cconsent-bar button.consent-decline {
  line-height: normal;
  font-size: 14px;
  border: none;
  padding: 10px 10px;
  color: var(--barMainButtonColor);
  background-color: var(--barMainButtonTextColor);
  margin-right: 10px;
  border: 1px solid var(--barMainButtonColor);
}

#cconsent-bar a.ccb__edit {
  margin-right: 15px;
}

#cconsent-bar a:hover,
#cconsent-bar button:hover {
  cursor: pointer;
}

#cconsent-bar .ccb__close {
  font-weight: 600;
  cursor: pointer;
  font-size: 26px;
  margin: auto 0 auto 15px;
}

#cconsent-modal {
  display: none;
  font-size: 14px;
  line-height: 18px;
  color: #666;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  #cconsent-modal {
    height: 100%;
  }
}

#cconsent-modal h2,
#cconsent-modal h3 {
  color: #333;
}

#cconsent-modal.ccm--visible {
  display: flex;
}

#cconsent-modal .ccm__content {
  max-width: 600px;
  min-height: 500px;
  max-height: 600px;
  overflow-y: auto;
  background-color: #efefef;
}

@media (max-width: 600px) {
  #cconsent-modal .ccm__content {
    max-width: 100vw;
    height: 100%;
    max-height: initial;
  }
}

#cconsent-modal .ccm__content > .ccm__content__heading {
  border-bottom: 1px solid #d8d8d8;
  padding: 35px 35px 20px;
  background-color: #efefef;
  position: relative;
}

#cconsent-modal .ccm__content > .ccm__content__heading h2 {
  font-size: 21px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

#cconsent-modal .ccm__content > .ccm__content__heading .ccm__cheading__close {
  font-weight: 600;
  color: #888;
  cursor: pointer;
  font-size: 26px;
  position: absolute;
  right: 15px;
  top: 15px;
}

#cconsent-modal h2,
#cconsent-modal h3 {
  margin-top: 0;
}

#cconsent-modal .ccm__content > .ccm__content__body {
  background-color: #fff;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tabgroup {
  margin: 0;
  border-bottom: 1px solid #d8d8d8;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tabgroup .ccm__tab-head::before {
  position: absolute;
  left: 35px;
  font-size: 1.4em;
  font-weight: 600;
  color: #e56385;
  content: '×';
  display: inline-block;
  margin-right: 20px;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tabgroup.checked-5jhk .ccm__tab-head::before {
  font-size: 1em;
  content: '✔';
  color: #28a834;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tabgroup .ccm__tab-head .ccm__tab-head__icon-wedge {
  transition: transform 0.3s ease-out;
  transform-origin: 16px 6px 0;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: rotate(0deg);
  transform: translateY(-50%);
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tabgroup .ccm__tab-head .ccm__tab-head__icon-wedge > svg {
  pointer-events: none;
}

#cconsent-modal
  .ccm__content
  > .ccm__content__body
  .ccm__tabgroup.ccm__tabgroup--open
  .ccm__tab-head
  .ccm__tab-head__icon-wedge {
  transform: rotate(-180deg);
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-head {
  color: #333;
  padding: 17px 35px 17px 56px;
  margin: 0;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-content {
  padding: 25px 35px;
  margin: 0;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-head {
  transition: background-color 0.5s ease-out;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-head:hover {
  background-color: #f9f9f9;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-head {
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tabgroup .ccm__tab-content {
  display: none;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tabgroup.ccm__tabgroup--open .ccm__tab-head {
  background-color: #f9f9f9;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tabgroup.ccm__tabgroup--open .ccm__tab-content {
  display: flex;
}

@media (max-width: 600px) {
  #cconsent-modal .ccm__content > .ccm__content__body .ccm__tabgroup.ccm__tabgroup--open .ccm__tab-content {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  #cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-content .ccm__tab-content__left {
    margin-bottom: 20px;
  }
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-content .ccm__tab-content__left .ccm__switch-component {
  display: flex;
  margin-right: 35px;
  align-items: center;
}

#cconsent-modal
  .ccm__content
  > .ccm__content__body
  .ccm__tab-content
  .ccm__tab-content__left
  .ccm__switch-component
  > div {
  font-weight: 600;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-content .ccm__tab-content__left .ccm__switch-group {
  width: 40px;
  height: 20px;
  margin: 0 10px;
  position: relative;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-content .ccm__tab-content__left .ccm__switch {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 40px;
  height: 20px;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-content .ccm__tab-content__left .ccm__switch input {
  display: none;
}

#cconsent-modal
  .ccm__content
  > .ccm__content__body
  .ccm__tab-content
  .ccm__tab-content__left
  .ccm__switch
  .ccm__switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#cconsent-modal
  .ccm__content
  > .ccm__content__body
  .ccm__tab-content
  .ccm__tab-content__left
  .ccm__switch
  .ccm__switch__slider:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#cconsent-modal
  .ccm__content
  > .ccm__content__body
  .ccm__tab-content
  .ccm__tab-content__left
  .ccm__switch
  input:checked
  + .ccm__switch__slider {
  background-color: #28a834;
}

#cconsent-modal
  .ccm__content
  > .ccm__content__body
  .ccm__tab-content
  .ccm__tab-content__left
  .ccm__switch
  input:focus
  + .ccm__switch__slider {
  box-shadow: 0 0 1px #28a834;
}

#cconsent-modal
  .ccm__content
  > .ccm__content__body
  .ccm__tab-content
  .ccm__tab-content__left
  .ccm__switch
  input:checked
  + .ccm__switch__slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-content p {
  color: #444;
  margin-bottom: 0;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-content .ccm__list:not(:empty) {
  margin-top: 30px;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-content .ccm__list .ccm__list__title {
  color: #333;
  font-weight: 600;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-content .ccm__list ul {
  margin: 15px 0;
  padding-left: 15px;
}

#cconsent-modal .ccm__footer {
  padding: 35px;
  background-color: #efefef;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#cconsent-modal .ccm__footer button {
  line-height: normal;
  font-size: 14px;
  transition: background-color 0.5s ease-out;
  background-color: var(--modalMainButtonColor);
  color: var(--modalMainButtonTextColor);
  border: none;
  padding: 13px;
  min-width: 110px;
  border-radius: 2px;
  cursor: pointer;
}

#cconsent-modal .ccm__footer button:hover {
  background-color: var(--modalMainButtonDarkenColor);
}

#cconsent-modal .ccm__footer button + button {
  margin-left: 10px;
}
